
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
header{
    background-color: wheat;
    padding: 10px 50px 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.menus{
    
    text-decoration: none;
    color: black;
}
ul{
    display: flex;
    gap: 50px;
    list-style: none ;
    color: black;

}
.titlebar, .features{
    color: orangered;
}
.banner-c{
    max-width: 800px;
    text-align: center;
    margin: auto;
}
.banner-t{
    font-size: 4rem;
    font-weight: 700;
    color: black;
}
.banner-desc{
    color: gray;
}
.p-btn{
    padding: 10px;
    margin: 10px;
    color: white;
    background: orangered;
    border: none;
    border-radius: 5px;
}
.banner-img{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 600px; */
    
}
.main-f{
    display: flex;
    align-items: center;
    /* margin-top: 50px; */
    padding: 50px 10px;
}
.main-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-radius: 20px;
}
.main-t{
    text-align: left;
    width: 80%;
    padding: 50px;
}
.main-title{
    font-size: 3em;
}
.quick-list{
    
    color: gray;
    /* font-weight: 300; */
}
.main-desc{
    text-align: justify;
    color: gray;
}


/* small device */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
        margin-bottom: 20px;
    }
    ul{
        gap: 10px;
    }
    .banner-t{
        font-size: 3em;
    }
    .main-f{
        flex-direction: column-reverse;
        padding: 10px;
    }
    .main-img{
        grid-template-columns: repeat(1, 1fr);
    }
    .main-t{
        text-align: center;
        padding: 10px;
        width: 100%;
      
    }
}

/* medium device */
@media screen and (min-width: 577px) and (max-width: 992px){
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
        margin-bottom: 20px;
    }
    .banner-t{
        font-size: 3em;
    }
    .main-f{
        flex-direction: column-reverse;
        padding: 10px;
    }
    .main-img{
        grid-template-columns: repeat(2, 1fr);
    }
    .main-t{
        text-align: center;
        padding: 10px;
        width: 80%;
}