
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
header{
    background-color: wheat;
    padding: 10px 50px 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.menus{
    
    text-decoration: none;
    color: black;
}
ul{
    display: flex;
    gap: 50px;
    list-style: none ;
    color: black;

}
.titlebar, .features{
    color: orangered;
}
.banner-c{
    max-width: 800px;
    text-align: center;
    margin: auto;
}
.banner-t{
    font-size: 4rem;
    font-weight: 700;
    color: black;
}
.banner-desc{
    color: gray;
}
.p-btn{
    padding: 10px;
    margin: 10px;
    color: white;
    background: orangered;
    border: none;
    border-radius: 5px;
}
.banner-img{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 600px; */
    
}
.main-f{
    display: flex;
    align-items: center;
    /* margin-top: 50px; */
    padding: 50px 10px;
}
.main-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-radius: 20px;
}
.main-t{
    text-align: left;
    width: 80%;
    padding: 50px;
}
.main-title{
    font-size: 3em;
}
.quick-list{
    
    color: gray;
    /* font-weight: 300; */
}
.main-desc{
    text-align: justify;
    color: gray;
}
.features-sec{
    display: flex;
    padding: 50px 10px;
}
.f-title{
    font-size: 3em;
    border-left: 5px solid orangered;
    padding: 0px 0px 0px 20px;
    margin: 10px 100px 50px 10px;
    color: black;
}
.f-desc-m{
    margin: 10px 100px 50px 5px;
    text-align: justify;
    color: gray;
}
.f-det{
    margin: 10px 100px 50px 30px;
    color: black;
}
.f-desc{
    text-align: justify;
    padding: 20px 20px 100px 0px;
    color: gray;
    
}
.ten{
    background: orangered;
    border-radius: 10px;
    color: white;
    padding: 50px;
    width: 270px;
    text-align: center;
    position: relative;
    bottom: 80px;
    right: 136px;
    font-size: larger;
    box-shadow: 5px 5px 5px black;
}
.ten h2 {
    font-size: 3em;
}
.f-img{
    width: 1600px;
}


/* small device */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
        margin-bottom: 20px;
    }
    ul{
        gap: 10px;
    }
    .banner-t{
        font-size: 3em;
    }
    .main-f{
        flex-direction: column-reverse;
        padding: 10px;
    }
    .main-img{
        grid-template-columns: repeat(1, 1fr);
    }
    .main-t{
        text-align: center;
        padding: 10px;
        width: 100%;
      
    }
    .features-sec{
        flex-direction: column;
        padding: 10px;
    }
    .f-img{
        width: 100%;
        margin: 10px;
    }
    .f-title{
        font-size: 2em;
        text-align: left;
        margin: 10px;
        
    }
    .f-desc-m{
        margin: 20px 10px;
        pa
    }
    .f-det{
        margin: 10px;
    }
    .ten{
        left: 1px;
        width: 100px;
        font-size: .5em;
        padding: 10px;
        bottom: 50px;
    }
    .f-desc{
        padding: 10px 0px 30px 0px;
    }
}


/* medium device */
@media screen and (min-width: 577px) and (max-width: 992px){
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
        margin-bottom: 20px;
    }
    .banner-t{
        font-size: 3em;
    }
    .main-f{
        flex-direction: column-reverse;
        padding: 10px;
    }
    .main-img{
        grid-template-columns: repeat(2, 1fr);
    }
    .main-t{
        text-align: center;
        padding: 10px;
        width: 80%;
    }
    .features-sec{
        flex-direction: column;
        padding: 10px;
    }
    .f-img{
        width: 100%;
        margin: 10px;
    }
    .f-title{
        font-size: 3em;
        text-align: left;
        margin: 10px 60px;
        
    }
    .f-desc-m{
        margin: 20px 10px;
        pa
    }
    .f-det{
        margin: 10px;
        
    }
    .ten{
        left: 160px;
        /* justify-content: center; */

        
    }
    .f-desc{
        padding: 10px 0px 30px 0px;
    }
}